// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
  padding: 2em;
}

th {
  background-color: linen;
  padding: 2em;
  margin-top: -5px;
}
table {
  margin-top: 0;
}

.even {
  background-color: gainsboro;
}
